.btn {
    padding: 10px 20px;
    margin: 0px 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
}
.btn:hover {
    opacity: 1;
}
.success {
    background: #198754;
}
.destroy {
    background: #dc3545;
}
