.HeaderMobile {
    background: #24292f;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
}
.wrap {
    height: 100%;
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.Menu {
    color: #fff;
}
.Menuicon {
    font-size: 25px;
}
.HeaderMenu {
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    right: -11px;
    height: 100vh;
    background: #fff;
}
.onMenu {
    display: block;
}
.close {
    height: 58px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #d0d7de;
}
.Closeicon {
    font-size: 25px;
    margin-right: 12px;
}
.nav {
    display: block;
}
.item {
    height: 56px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d0d7de;
    width: calc(100% - 32px);
}
.href {
    text-decoration: none;
    color: #24292f;
    margin-left: 5px;
}
.boxinput {
    margin-left: 16px;
    width: calc(100% - 32px);
    margin-top: 10px;
}
.input {
    width: calc(100% - 16px);
    border-radius: 5px 5px 0px 5px;
    height: 20px;
    padding: 8px;
    border: 1px solid hsla(210,18%,87%,1);
}
@media only screen and (min-width: 960px) {
    .HeaderMobile {
        display: none;
    }
}